.intro {
    display: flex;
    color: #fff;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

@media screen and (min-width: 1024px) {
    .intro {
        margin-left: 4.6875%;
        max-width: 690px;
    }
}

@media screen and (min-width: 1280px) {
    .intro {
        margin-left: 11.5625%;
    }
}