/* .place__image {
    width: 100%;
    margin-top: 32px;
}

@media screen and (min-width: 768px) {
    .place__image {
        margin: 48px auto 0 24px;
        width: 1fr;
    }
} */

.place__image {
    width: 100%;
    grid-area: image;
}

@media screen and (min-width: 768px) {
    .place__image {
        min-width: 340px;
    }
}

@media screen and (min-width: 1024px) {
    .place__image {
        min-width: 440px;
    }
}

@media screen and (min-width: 1280px) {
    .place__image {
        min-width: 460px;
    }
}
