.place__website {
    grid-area: website;
    margin: 32px auto 32px 16px;
}

@media screen and (min-width: 768px) {
    .place__website {
        align-self: center;
        margin: 0;
        align-self: end;
        justify-self: start;
    }
}